%p You have been challenged by Quizmaster
%p.flow-text.game-text=@creator.user_name

%p You will be answering his Quiz
%p.flow-text.game-text=@random_quiz.title

%a{href: question_path(id: @random_quiz.id), class:'waves-effect waves-light btn purple darken-1'} Start Quiz
