%p
  %span You will be answering
  %span=@random_quiz.title
%p
  %span By Quizmaster
  %span= @creator.user_name
%a{href: question_path(id: @random_quiz.id), class:'waves-effect waves-light btn purple darken-1 def-btns'} Start Quiz!
